// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Barlow', 'Poppins', 'Arial', sans-serif;
$font-family-serif:'Roboto Slab', serif;
$font-weight: 300;
$font-size-base: 1.25rem;
$line-height-base: 1.6;
