@import url("https://cdn.ncsu.edu/brand-assets/fonts-2-0/include.css");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --brand-primary: #cc0000;
}


html{
    font-size: 14pt;
    font-weight: 300;
}

@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
  }
